apiVersion: v1
kind: ConfigMap
metadata:
    name: frontend-nginx-config
    namespace: dev
data:
    nginx.conf: |
        worker_processes auto;
        pid /tmp/nginx.pid;
        events {
            worker_connections 1024;
        }
        http {
            access_log /tmp/access.log;
            error_log /tmp/error.log;
            client_body_temp_path /tmp/client_body;
            proxy_temp_path /tmp/proxy_temp;
            fastcgi_temp_path /tmp/fastcgi_temp;
            uwsgi_temp_path /tmp/uwsgi_temp;
            scgi_temp_path /tmp/scgi_temp;
            include /etc/nginx/mime.types;
            default_type application/octet-stream;
            server {
                listen 8080;
                server_name localhost;
                location / {
                    root /usr/share/nginx/html;
                    index index.html index.htm;
                    try_files $uri $uri/ /index.html;
                }
                location /api {
                    proxy_pass http://backend:5000;
                    proxy_http_version 1.1;
                    proxy_set_header Upgrade $http_upgrade;
                    proxy_set_header Connection 'upgrade';
                    proxy_set_header Host $host;
                    proxy_cache_bypass $http_upgrade;
                }
                error_log /tmp/error.log;
                access_log /tmp/access.log;
            }
        }
