# devops/templates/security/sonarqube-analysis.yml
parameters:
  - name: projectKey
    type: string

steps:
  - task: SonarQubePrepare@5
    displayName: "Prepare SonarQube"
    inputs:
      SonarQube: "SonarQube-Server"
      scannerMode: "CLI"
      configMode: "manual"
      cliProjectKey: "${{ parameters.projectKey }}"

  - script: |
      sonar-scanner \
        -Dsonar.projectKey=${{ parameters.projectKey }} \
        -Dsonar.sources=. \
        -Dsonar.host.url=$(SONAR_HOST_URL) \
        -Dsonar.login=$(SONAR_TOKEN)
    displayName: "Run SonarQube Analysis"

  - task: SonarQubePublish@5
    displayName: "Publish Quality Gate Result"
    inputs:
      pollingTimeoutSec: "300"
